({:alias "ly",
  :url "http://www.lyricsdepot.com/search?q=%s",
  :name "lyricsdepot"}
 {:alias "a",
  :url
  "http://www.amazon.com/exec/obidos/external-search/002-0624655-2773629?tag=opera-20&index=blended&keyword=%s",
  :name "amazon"}
 {:alias "domain",
  :url
  "http://www.iwhois.com/index.php?domain=%s&[:tld]&lookup=Lookup&clean=1",
  :name "Domain Availability"}
 {:alias "e",
  :url
  "http://search.ebay.com/search/search.dll?ht=1&SortProperty=MetaEndSort&query=%s&ebaytag1=ebayreg",
  :name "ebay"}
 {:alias "site",
  :url "http://uptime.netcraft.com/up/graph?site=%s",
  :name "computers that a site runs"}
 {:alias "vim",
  :url
  "http://www.vim.org/scripts/script_search_results.php?keywords=%s",
  :name "vim"}
 {:alias "mapq",
  :url
  "http://www.mapquest.com/maps/map.adp?country=US&address=&city=%s",
  :name "MapQuest: Maps"}
 ;; use google movies
 {:alias "yhm",
  :url "http://movies.yahoo.com/showtimes/showtimes.html?z=%s",
  :name "Yahoo! movie showtimes"}
 {:alias "we",
  :url
  "http://www.weather.com/weather/local/%s?lwsa=WeatherLocalUndeclared",
  :name "weather.com"}
 {:alias "arch",
  :url "http://web.archive.org/web/*/%s",
  :name "Internet Archive"}
 {:alias "ggs",
  :url "http://groups.google.com/groups/dir?q=%s",
  :name "Google Groups- Search for a Group"}
 ;; use clojure
 {:alias "rorl",
  :url
  "http://search.gmane.org/?query=%s&group=gmane.comp.lang.ruby.rails",
  :name "Gmane ROR search"}
 ;; use yelp
 {:alias "ep",
  :url
  "http://www.epinions.com/search/?search_string=%s&submitted_form=searchbar&search_vertical=all&tax_name=",
  :name "epinions"}
 {:alias "v",
  :url "http://youtube.com/results?search_query=%s",
  :name "youtube search"}
 {:alias "gdef",
  :url "http://www.google.com/search?q=define:%s",
  :name "Google Definitions"}
 {:alias "w2",
  :url "http://www.wikipedia.com/w/wiki.phtml?search=%s",
  :name "Wikipedia"}
 {:alias "whois2",
  :url "http://www.samspade.org/whois/%s",
  :name "Samspade info"}
;; try
 {:alias "gstrip",
  :url
  "http://www.google.com/gwt/n?q=%s&site=search&hl=en&lr=&mrestrict=xhtml&ct=res&cd=1&rd=1&u=(q)&_gwt_noimg=1",
  :name "Gstrip"}
 {:alias "git",
  :url
  "http://github.com/search?[:language]&[:type]&q=[:description] [:followers] [:created] %s",
  :name "github search"}
 {:alias "gmas",
  :url
  "http://mail.google.com/[:account]/#advanced-search/[:from]&[:to]&[:subject]&[:subset]&[:exclude]&[:within]&[:date]&has=%s",
  :name "Gmail Advanced Search"}
 {:alias "gfun",
  :url "http://letmegooglethatforyou.com?q=%s",
  :name "Google- For Your Special Friends"}
 {:alias "wram",
  :url "http://www.wolframalpha.com/input/?i=%s",
  :name "Wolfram Computational Engine"}

 ;; Bookmark or delete
 ;; ------------------
 {:alias "art",
  :url "http://citeseer.ist.psu.edu/cis?q=%s&cs=1",
  :name "scientific articles"}
 {:alias "pvb",
  :url
  "http://www.verbix.com/webverbix/go.asp?T1=%s&imageField.x=0&imageField.y=0&D1=[:lang]&H1=101",
  :name "Verbix- Conjugate Verbs In Many Languages"}
 {:alias "const",
  :url "http://physics.nist.gov/cgi-bin/cuu/Results?search_for=%s",
  :name "CODATA Values of the Fundamental Constants"}
 {:alias "cdel",
  :url "http://cloudalicio.us/tagcloud.php?url=%s",
  :name "cloudalicious"}
 {:alias "bl",
  :url "http://bloglines.com/search?r=0&q=%s&submit=Search",
  :name "Bloglines"}
 {:alias "sim",
  :url "http://similicio.us/search.php?url=%s&submit=find+similar",
  :name "similicio.us - find similar sites"}
 {:alias "wls", :url "http://webls.marcoslot.net/#%s", :name "WebLS"}
 {:alias "fms",
  :url "http://www.last.fm/music/?m=tracks&q=%s",
  :name "last.fm song search"}
 {:alias "od",
  :url "http://search.dmoz.org/cgi-bin/search?search=%s",
  :name "Open Directory"}
 {:alias "review",
  :url "http://www.mrqe.com/lookup?isindex=%s",
  :name "Movie Review Query Engine"}
 {:alias "cddb",
  :url "http://www.cddb.com/xm/search?q=%s&f=artist&f=disc",
  :name "Gracenote CDDB"}
 {:alias "doh",
  :url
  "http://www.snpp.com/cgi-bin/AT-Simpsons_Archivesearch.cgi?search=%s",
  :name "Simpsons quote search"}
 {:alias "acronym",
  :url
  "http://www.acronymfinder.com/af-query.asp?String=exact&Acronym=%s",
  :name "Acronym Finder"}
 {:alias "med",
  :url
  "http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?CMD=search&DB=pubmed&term=%s",
  :name "Entrez PubMed articles"}
 {:alias "rx",
  :url "http://bnf.org/bnf/bnf/current/search/text.htm?q=%s&n=50",
  :name "BNF drug details"}
 {:alias "s8",
  :url
  "http://www.syndic8.com/feedlist.php?ShowMatch=%s&ShowStatus=all",
  :name "Syndic8"}
 {:alias "mqr",
  :url "http://code.google.com/p/monoquery/source/detail?r=%s",
  :name "monoquery revision"}
 {:alias "phone",
  :url "http://www.whitepages.com/search/SingleField?q=%s",
  :name "whitepages"}
 {:alias "ascii",
  :url
  "http://www.network-science.de/ascii/ascii.php?TEXT=%s&x=8&y=7&FONT=_all+fonts+with+your+text_&RICH=no&FORM=left&STRE=no",
  :name "ascii art"}
 {:alias "cable",
  :url "http://www.callcct.com/Shop?search=%s",
  :name "callct cable search"}
 {:alias "pops",
  :url "http://popurls.com/do/search/?popsearch=%s",
  :name "popurls search"}
 {:alias "yub",
  :url "http://www.yubnub.org/parser/parse?command=%s",
  :name "YubNub - Execute Command"}
 {:alias "ping",
  :url "http://network-tools.com/default.asp?prog=ping&host=%s",
  :name "network-tools ping"}
 {:alias "blist",
  :url "http://emailstuff.org/bl/%s",
  :name "blacklist check"}
 {:alias "geoip",
  :url "http://geo.localsearchmaps.com/?by_ip=1&cb=IpLookup&ip=%s",
  :name "Geolocate by IP"}
 {:alias "w3h",
  :url
  "http://validator.w3.org/check?uri=%s&charset=(detect+automatically)&doctype=Inline&[:group]&ss=1",
  :name "W3C HTML/XML Markup Validator"}
 {:alias "w3c",
  :url
  "http://jigsaw.w3.org/css-validator/validator?uri=%s&profile=css21&usermedium=all&warning=1&lang=en",
  :name "W3C CSS Validator (CSS level 2.1)"}
 {:alias "w3f",
  :url "http://validator.w3.org/feed/check.cgi?url=%s",
  :name "W3C Feed Validator"}
 {:alias "gbs",
  :url
  "http://www.gutenberg.org/catalog/world/results?&[:author]&[:fulltext]&title=%s",
  :name "Project Gutenberg (Book) Search"}
 {:alias "proxy",
  :url "http://us.worldproxy202.com/index.php?q=%s",
  :name "US WorldProxy"}
 {:alias "gid",
  :url "http://google.com/translate_dict?q=%s&hl=en&[:langpair]",
  :name "Google International Dictionary"}
 {:alias "inlink",
  :url
  "http://siteexplorer.search.yahoo.com/advsearch?p=%s&bwm=i&bwmf=u&bwms=p",
  :name "Links to Url- Yahoo"}
 {:alias "jux",
  :url "http://jux2.com/best.php?q=%s",
  :name "Jux2 search"}
 {:alias "glink",
  :url "http://www.codinghorror.com/linktron5k/Default.aspx?url=%s",
  :name "LinkTron5000"}
 {:alias "sound",
  :url "http://www.findsounds.com/ISAPI/search.dll?keywords=%s",
  :name "Find Sounds"}
 {:alias "p2rss",
  :url "http://page2rss.com/page?url=%s",
  :name "Page2Rss"}
 {:alias "cl",
  :url "http://www.colourlovers.com/color/%s",
  :name "Color Lovers"}
 {:alias "unicode",
  :url "http://www.fileformat.info/info/unicode/char/search.htm?q=%s",
  :name "Unicode Character Search"}
 {:alias "mus",
  :url "http://search.playlist.com/tracks/%s",
  :name "Project Playlist Search"}
 {:alias "vth",
  :url "http://kylescholz.com/projects/wordnet/?text=%s",
  :name "Visual Wordnet Dictionary"}
 {:alias "iyd",
  :url
  "https://secure.onlineaccess.net/cart/index.php?IYD=1?Submit=Click&domain=%s&[:root]",
  :name "Search Available Domains through Its Your Domain"}
 {:alias "wnet",
  :url "http://wordnet.princeton.edu/perl/webwn?s=%s&[:i]",
  :name "WordNet Search"}
 {:alias "watch",
  :url "http://www.pagereboot.com/?url=%s&[:refresh]",
  :name "Monitor (Auto Reload) a Page"}
 {:alias "uses",
  :url "http://www.sitonomy.com/?url=%s",
  :name "Sitonomy - Analyze Site Services"}
 {:alias "daps",
  :url
  "http://www.dapper.net/dapp-search.php?[:transformer]&keyword=%s",
  :name "Dapper Search"}
 {:alias "bts",
  :url "http://backtweets.com/search?q=%s",
  :name "Backtweets Search"}
 {:alias "fbs",
  :url "http://www.freebase.com/type/schema/%s",
  :name "Freebase Schema"}
 {:alias "g2",
  :url "http://www.google.com/squared/search?q=%s",
  :name "Google Squared"}
 {:alias "rdfrip",
  :url
  "http://www.w3.org/2007/08/pyRdfa/extract?[:warnings]&[:format]&[:parser]&uri=%s",
  :name "RDFa ripper"})
